<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>asg2.MapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityController</servlet-name>
        <servlet-class>asg2.CityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>asg2.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryController</servlet-name>
        <servlet-class>asg2.CountryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelController</servlet-name>
        <servlet-class>asg2.HotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>asg2.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>asg2.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>asg2.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/MapServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityController</servlet-name>
        <url-pattern>/CityController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryController</servlet-name>
        <url-pattern>/CountryController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelController</servlet-name>
        <url-pattern>/HotelController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <url-pattern>/products</url-pattern>
</web-app>
